# Placer les variables  qui change selon l'environnement
PORT_WEB=8000 # modifier le port local utilisé par docker
#pour generer APPSECRET cat /dev/urandom | tr -dc 'a-zA-Z0-9' | fold -w 32 | head -n 1
APP_SECRET=A-CHANGER
MYSQL_ROOT_PASSWORD=password
MYSQL_SERVER=mysql
MYSQL_DATABASE=A-CHANGER
MYSQL_USER=A-CHANGER
MYSQL_PASSWORD=A-CHANGER
DATABASE_URL=mysql://$MYSQL_USER:$MYSQL_PASSWORD@$MYSQL_SERVER:3306/$MYSQL_DATABASE
#BASE_URL=
APP_ENV=prod
SENTRY_DSN=