# Placer les variables  qui change selon l'environnement
PORT_WEB=9098 # modifier le port local utilisé par docker
#pour generer APPSECRET cat /dev/urandom | tr -dc 'a-zA-Z0-9' | fold -w 32 | head -n 1
APP_SECRET=k9nwvyZYzO38GJKRDsHQynxIL3ezmbca
MYSQL_ROOT_PASSWORD=password
MYSQL_SERVER=mysql
MYSQL_DATABASE=vercors-cabanes
MYSQL_USER=vercors-cabanes
MYSQL_PASSWORD=vercors-cabanes
DATABASE_URL=mysql://$MYSQL_USER:$MYSQL_PASSWORD@$MYSQL_SERVER:3306/$MYSQL_DATABASE
#BASE_URL=
APP_ENV=dev
#TRUSTED_PROXIES=172.24.42.1
SENTRY_DSN=
#SENTRY_DSN=https://8d8c16fe86e84a109265536aa1571f29@sentry.probesys.com/5
