$white: #fff;
$black: #000;

$brand-anthracite:   #2F3234;
$brand-gray-dark:    #CCCCCC;
$brand-gray:         #DBDBDB;
$brand-gray-light:   #F7F7F7;

$primary:       #99D2D4 ;
$secondary:     #472A69 ;
$success:       #8eac54 ;
$info:          #8D73AA ;
$warning:       #ffbb59 ;
$danger:        #c25450 ;




$font-family-sans-serif:        "Roboto", 'sans-serif';
$font-family-base:              "Roboto"; // font de base

// $main-navbar-top-height: 95px;
// $main-navbar-sm-top-height: 95px;
// $main-navbar-xs-top-height: 95px;
//
// $main-navbar-scroll-height: 70px;
// $main-menu-height: 90px;
