<div class="d-flex bd-highlight align-items-end sf-admin-batch-actions-choice">
   <div class="p-2 bd-highlight ">
      <label for="batch_action" >{{'Generics.batch.labels.for_selection'|trans}}</label>

      <select name="batch_action" id="batch_action" class="form-control">
         <option value="">{{'Generics.batch.labels.choose_action'|trans}}</option>
         <option value="batchDelete">{{'Generics.actions.remove'|trans}}</option>
         {% if batchExport is defined  %}
           <option value="batchExport">{{'Generics.actions.export'|trans}}</option>
         {% endif %}  
      </select>

   </div>
   <div class="p-2 bd-highlight">
      <button type="submit" class="btn btn-info btn-sm" id="batchFormSubmitButton">OK</button>
   </div>
   <div class="ml-auto p-2 bd-highlight">
      {% include 'admin/default/selectResultsPerPage.html.twig'  %}
   </div>
</div>